.fuente{
    font-family: 'Roboto Mono', monospace;
}
.fondo{
    background: rgb(7, 7, 7);
    background: #f6f4f4;
}
.fondobanner{
    background-image: url("imagenes/estrellas.jpg");
    height: 600px;
    background-attachment: fixed;
} 
    .fondoForm{
        background-image: url("imagenes/caidas.gif");
        height: 600px;
        background-attachment: fixed;
}